<hr style="border:5px solid #108999"> </hr>

# Working-with-Text-Files-Lectures <hr style="border:4.5px solid #108999"> </hr>

## Importing Text Files in Python ( open() )

In [ ]:
filename = "source.txt"

In [ ]:
filename

In [ ]:
file = open(filename, mode = 'r')

In [ ]:
file

In [ ]:
file.read()

In [ ]:
file = open(filename, mode = 'r')
text = file.read()
text

In [ ]:
file.closed

In [ ]:
file.close()

In [ ]:
file.closed

In [ ]:
print(text)

## Importing Text Files in Python ( with open() )

In [ ]:
filename = 'source.txt'

In [ ]:
file = open(filename, mode = 'r')
text = file.read()
file.close()

In [ ]:
with open(filename, mode = "r") as out_file:
    out_file.read()

In [ ]:
print(text)

In [ ]:
print(out_file)

In [ ]:
with open('source.txt', 'w') as out_file:
    out_file.write("It is not so simple anymore!")

In [ ]:
print(out_file)

In [ ]:
file = open(filename, mode = 'r')
text = file.read()
file.close()

In [ ]:
print(text)

In [ ]:
with open(filename, mode = "r") as out_file:
    new_text = out_file.read()
print(new_text)

## Importing *.csv Files with pandas - Part I & II

In [ ]:
filename = 'Lending-company.csv'

file = open(filename, mode = 'r')
text = file.read()
text

In [ ]:
type(text)

In [ ]:
import pandas as pd

In [ ]:
pd.read_csv('Lending-company.csv')
#pd.read_csv('Lending-company.csv', header = 0)
#pd.read_csv('Lending-company.csv', header = 5)

In [ ]:
type(pd.read_csv('Lending-company.csv'))

## Importing *.csv Files with pandas - Part III

In [ ]:
import pandas as pd

In [ ]:
filename = 'Lending-company.csv'
my_csv_data = pd.read_csv(filename)
my_csv_data

In [ ]:
type(my_csv_data)

In [ ]:
print(my_csv_data)

## Importing Data with the index_col Parameter

In [ ]:
import pandas as pd

In [ ]:
filename = 'Lending-company.csv'
my_csv_data = pd.read_csv(filename)
my_csv_data

In [ ]:
filename = 'Lending-company.csv'
my_csv_data = pd.read_csv(filename, index_col = 'LoanID')
my_csv_data

In [ ]:
data = {'ProductName':['Product A', 'Product B', 'Product C'], 'ProductPrice':[22250, 16600, 12500]}
product_IDs = ['A', 'B', 'C']
df = pd.DataFrame(data, index = product_IDs)
df

## Importing Data with NumPy - np.loadtxt() vs np.genfromtxt()

In [ ]:
import numpy as np

In [ ]:
lending_co_data_numeric_1 = np.loadtxt("Lending-Company-Numeric-Data.csv", delimiter = ',')
lending_co_data_numeric_1

# We can use Notepad++ to determine delimiters

In [ ]:
lending_co_data_numeric_2 = np.genfromtxt("Lending-Company-Numeric-Data.csv", delimiter = ',')
lending_co_data_numeric_2

In [ ]:
np.array_equal(lending_co_data_numeric_1, lending_co_data_numeric_2)

## np.array_equal() compares two (or more) arrays and tells us if whether they're identical

In [ ]:
lending_co_data_numeric_NAN = np.genfromtxt("Lending-Company-Numeric-Data-NAN.csv", delimiter = ';')
lending_co_data_numeric_NAN

# np.loadtxt() fails to import incomplete datasets by default

In [ ]:
lending_co_data_numeric_NAN = np.loadtxt("Lending-Company-Numeric-Data-NAN.csv", 
                                         delimiter = ';',
                                         dtype = np.str)
lending_co_data_numeric_NAN

# If we import all the values as text, then we don't get a type inconcsistency, so we can use np.loadtxt()

In [ ]:
lending_co_data_numeric_NAN[0,0] + lending_co_data_numeric_NAN[0,1]

# Adding '2000' and '40' results in a concatenated '200040' rather than 2040.

## Importing Data with NumPy - Partial Cleaning While Importing

In [ ]:
import numpy as np

In [ ]:
lending_co_data_numeric_NAN = np.genfromtxt("Lending-Company-Numeric-Data-NAN.csv", delimiter = ';') 
lending_co_data_numeric_NAN

In [ ]:
lending_co_data_numeric_NAN = np.genfromtxt("Lending-Company-Numeric-Data-NAN.csv", 
                                            delimiter = ';',
                                            skip_header = 2) 
lending_co_data_numeric_NAN

# skip_header omits lines from the top of the text file

In [ ]:
lending_co_data_numeric_NAN = np.genfromtxt("Lending-Company-Numeric-Data-NAN.csv", 
                                            delimiter = ';',
                                            skip_footer = 2) 
lending_co_data_numeric_NAN

# skip_footer omits lines from the bottom of the text file

In [ ]:
lending_co_data_numeric_NAN = np.genfromtxt("Lending-Company-Numeric-Data-NAN.csv", 
                                            delimiter = ';',
                                            usecols = (5,0,1)) 
lending_co_data_numeric_NAN

# use_cols tells the function to only take the following columns based on their indices.

In [ ]:
lending_co_data_numeric_NAN = np.genfromtxt("Lending-Company-Numeric-Data-NAN.csv", 
                                            delimiter = ';',
                                            usecols = (5,0,1), 
                                            skip_header = 2, 
                                            skip_footer = 2) 
lending_co_data_numeric_NAN

# We can define all these arguments (and many more) together to only import what we want.

In [ ]:
lending_co_data_5, lending_co_data_0, lending_co_data_1 = np.genfromtxt("Lending-Company-Numeric-Data-NAN.csv", 
                                                                        delimiter = ';',
                                                                        usecols = (5,0,1), 
                                                                        skip_header = 2, 
                                                                        skip_footer = 2, 
                                                                        unpack = True)
print(lending_co_data_5)
print(lending_co_data_0)
print(lending_co_data_1)

# Unpacking allows us to split the output array into smaller 1-D arrays.

## Importing *.json Files

In [ ]:
prices_per_product = '{"Product A": 22250, "Product B" : 16600, "Product C":15600}'
prices_per_product

In [ ]:
type(prices_per_product)

In [ ]:
import json

In [ ]:
parsed_str = json.loads(prices_per_product)
parsed_str

In [ ]:
type(parsed_str)

In [ ]:
import pandas as pd

In [ ]:
pd.read_json('Lending-company.json')

In [ ]:
new_csv_data = pd.read_json('Lending-company.json')
new_csv_data

In [ ]:
type(new_csv_data)

## Working with Excel Data (the *.xlsx Format)

In [ ]:
import pandas as pd

In [ ]:
filename = 'Lending-company.xlsx'
my_xlsx_data = pd.read_excel(filename)
# my_csv_data = pd.read_excel(filename, index_col = 'LoanID')
my_xlsx_data

In [ ]:
type(my_xlsx_data)

## An Important Exercise on Importing data in Python

In [ ]:
import pandas as pd

In [ ]:
location_data = pd.read_csv('Lending-company.csv',  usecols = ['StringID', 'Location', 'Region'], index_col = 'StringID')
location_data.head()

In [ ]:
filename = 'Lending-company-single-column-data.csv'
my_csv_data = pd.read_csv(filename)
my_csv_data.head()

In [ ]:
my_csv_data = pd.read_csv(filename, sep = '\,')
my_csv_data.head()

In [ ]:
my_csv_data = pd.read_csv(filename, sep = '\,', engine = 'python')
my_csv_data.head()

In [ ]:
my_csv_data = pd.read_csv(filename, delimiter = '\,', engine = 'python')
my_csv_data.head()

## Importing Data with the pandas' "squeeze" Method

In [ ]:
import pandas as pd

In [ ]:
my_df = pd.read_csv('Lending-company.csv')
my_df.head()

In [ ]:
type(my_df)

In [ ]:
df_usecols = pd.read_csv('Lending-company.csv', usecols = ['Product'])
df_usecols.head()

In [ ]:
type(df_usecols)

In [ ]:
df_single_col = pd.read_csv('Customer-Gender.csv')
df_single_col.head()

In [ ]:
type(df_single_col)

In [ ]:
data = pd.read_csv('Lending-company.csv')
df_squeeze = data.squeeze("columns")
df_squeeze.head()

In [ ]:
type(df_squeeze)

In [ ]:
data = pd.read_csv('Lending-company.csv', usecols = ['Product'])
df_squeeze = data.squeeze("columns")
df_squeeze

In [ ]:
type(df_squeeze)

In [ ]:
df_squeeze = data.squeeze(1)
df_squeeze

In [ ]:
type(df_squeeze)

In [ ]:
df_single_col = pd.read_csv('Customer-Gender.csv')
df_squeeze = df_single_col.squeeze("columns")
df_squeeze.head()

In [ ]:
type(df_squeeze)

## A Note on Importing Files in Jupyter

In [3]:
import pandas as pd

In [5]:
pd.read_csv('Lending-company.csv')

,LoanID,StringID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
0,1,LoanID_1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
1,2,LoanID_2,Product D,Female,Location 6,Region 6,NaN,02/01/2019,2200,45,365,3161,4096,16041,Active
2,3,LoanID_3,Product B,Male,Location 8,Region 3,16600.0,08/12/2016,1000,45,365,2260,3205,16340,NaN
3,4,LoanID_4,Product A,Male,Location 26,Region 2,17600.0,NaN,2200,45,365,3141,4166,16321,Active
4,5,LoanID_5,Product B,Female,Location 34,Region 3,21250.0,28/10/2017,2200,55,365,3570,4745,14720,Active
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1038,1039,LoanID_1039,Product B,Male,Location 73,Region 6,17300.0,29/12/2018,2200,45,365,3251,4743,16617,Finished Payment
1039,1040,LoanID_1040,Product A,Male,Location 82,Region 1,NaN,28/03/2018,2200,45,365,4090,5582,16617,Finished Payment
1040,1041,LoanID_1041,Product A,NotSpecified,Location 11,Region 4,17300.0,26/04/2018,2200,45,365,4051,5143,16617,Finished Payment
1041,1042,LoanID_1042,Product B,Female,Location 26,Region 6,16300.0,25/10/2016,1000,45,365,1930,3462,15617,Finished Payment
1042,1043,LoanID_1043,Product A,NotSpecified,Location 94,Region 6,17300.0,15/05/2019,2200,45,365,4451,4743,16617,Finished Payment

In [7]:
pd.read_csv('C:/Text-Files/Lending-company.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'C:/Text-Files/Lending-company.csv'

In [ ]:
import os, inspect

In [10]:
if '__file__' not in locals():
    fx = inspect.getframeinfo(inspect.currentframe())[0]
else:
    fx = __file__

NameError: name 'inspect' is not defined

In [12]:
os_dir = os.path.dirname(os.path.abspath(fx))
print(os_dir)

NameError: name 'os' is not defined

In [14]:
pd.read_csv(os.path.join(os_dir,"Lending-company.csv"))

NameError: name 'os' is not defined

## Saving your Data

In [17]:
import pandas as pd

In [19]:
filename = 'Lending-company.csv'
my_data = pd.read_csv(filename)
my_data.head()

,LoanID,StringID,Product,CustomerGender,Location,Region,TotalPrice,StartDate,Deposit,DailyRate,TotalDaysYr,AmtPaid36,AmtPaid60,AmtPaid360,LoanStatus
0,1,LoanID_1,Product B,Female,Location 3,Region 2,17600.0,04/07/2018,2200,45,365,3221,4166,14621,Active
1,2,LoanID_2,Product D,Female,Location 6,Region 6,NaN,02/01/2019,2200,45,365,3161,4096,16041,Active
2,3,LoanID_3,Product B,Male,Location 8,Region 3,16600.0,08/12/2016,1000,45,365,2260,3205,16340,NaN
3,4,LoanID_4,Product A,Male,Location 26,Region 2,17600.0,NaN,2200,45,365,3141,4166,16321,Active
4,5,LoanID_5,Product B,Female,Location 34,Region 3,21250.0,28/10/2017,2200,55,365,3570,4745,14720,Active

In [21]:
my_data.to_csv('my-csv-file.csv')

In [23]:
my_data.to_json('my-json-file.json')

In [25]:
my_data.to_excel('my-excel-file.xlsx')

In [26]:
my_data.to_excel('my-excel-file.xlsx', index=False)

## Saving Files with NumPy - np.save()

In [28]:
import numpy as np

In [32]:
lending_co = np.genfromtxt("Lending-Company-Saving.csv", 
                           delimiter = ',', 
                           dtype = np.str)

print(lending_co)

## We're just importing a dataset, so we can save it later. 
## Usually, we will be working with an array already, so we could skip this.

C:\Users\lebon\AppData\Local\Temp\ipykernel_17428\495055537.py:3: FutureWarning: In the future `np.str` will be defined as the corresponding NumPy scalar.
  dtype = np.str)

AttributeError: module 'numpy' has no attribute 'str'.
`np.str` was a deprecated alias for the builtin `str`. To avoid this error in existing code, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
The aliases was originally deprecated in NumPy 1.20; for more details and guidance see the original release note at:
    https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

In [ ]:
np.save("Lending-Company-Saving", lending_co)

## Create an .npy file with the data from the lending_co array.

In [ ]:
lending_data_save = np.load("Lending-Company-Saving.npy")

## Load the NPY file we just created. (Load =/= Import in this case)

In [ ]:
print(lending_data_save)

In [ ]:
np.array_equal(lending_data_save, lending_co)

# The original array is identical to the one we saved and then loaded back into Python.

## Saving Files with NumPy - np.savez()

In [ ]:
import numpy as np

In [ ]:
lending_co = np.genfromtxt("Lending-Company-Saving.csv", 
                           delimiter = ',',
                           dtype = np.str) 

lending_data_save = np.load('Lending-Company-Saving.npy') 

# Just getting two arrays we want to store (we import one, and load the other)

In [ ]:
np.savez("Lending-Company-Saving", lending_co, lending_data_save)

# Creates the .npz file, which is an archive of .npy files.

In [ ]:
lending_data_savez = np.load('Lending-Company-Saving.npz')

# We also load .npz files.

In [ ]:
print(lending_data_savez["arr_1"])

# np.savez() assigns default names to each .npy inside the archive.

In [ ]:
np.savez("Lending-Company-Saving", company = lending_co, data_save = lending_data_save) 

# Assign custom recognizable names to the individual .npy files in the .npz

In [ ]:
lending_data_savez = np.load("Lending-Company-Saving.npz")

In [ ]:
lending_data_savez.files

# Shows the names of all the .npy files stored in the .npz

In [ ]:
print(lending_data_savez["data_save"])

In [ ]:
np.array_equal(lending_data_savez["company"],lending_data_savez["data_save"])

# Even after saving and loading the datasets back into Python, they are still identical.

## Saving Files with NumPy - np.savetxt()

In [34]:
lending_co = np.genfromtxt("Lending-Company-Saving.csv",
                           delimiter = ',',
                           dtype = np.str)

C:\Users\lebon\AppData\Local\Temp\ipykernel_17428\1011526685.py:3: FutureWarning: In the future `np.str` will be defined as the corresponding NumPy scalar.
  dtype = np.str)

AttributeError: module 'numpy' has no attribute 'str'.
`np.str` was a deprecated alias for the builtin `str`. To avoid this error in existing code, use `str` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.str_` here.
The aliases was originally deprecated in NumPy 1.20; for more details and guidance see the original release note at:
    https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

In [36]:
np.savetxt("Lending-Company-Saving.txt", 
           lending_co, 
           fmt = '%s', 
           delimiter = ',')

# We must specify the file extension (txt or csv).
# We must specify the format (strings in this case).
# We must set a delimiter (comma in this case).

NameError: name 'lending_co' is not defined

In [ ]:
lending_data_savetxt = np.genfromtxt("Lending-Company-Saving.txt", 
                                     delimiter = ',', 
                                     dtype = np.str)

print(lending_data_savetxt)

# We're importing the .txt file we just created.

In [ ]:
lending_data_save = np.load("Lending-Company-Saving.npy")

In [ ]:
np.array_equal(lending_data_savetxt, lending_data_save)